*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background: #1A0B2E;
    color: white;
}
:root{
    --linear-gradient: 47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1);
    --linear-gradient-hover: -47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)
}
.custom-width{
    max-width: 1200px;
    margin: 0 auto;
}

/* Navigation Section */
#nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}
/* Navigation Logo */
#nav-logo{
    font-size: 35px;
    color: white;
    position: relative;
    z-index: 1;
}
#nav-logo a{
    text-decoration: none;
    color: white;
}
#nav-logo span{
    background: linear-gradient(var(--linear-gradient));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
#nav-logo::before{
    content: "TechWave";
    position: absolute;
    top: 0;
    left: 0;
    -webkit-text-stroke:1px black;
    z-index: -1;
    font-size: 35px;
}
/* Navigation Links */
#nav-link{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
}
#nav-link a{
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
#nav-link a:hover{
    color: yellow;
}
/* Navigation Button */
#nav-button{
    border: none;
    background: linear-gradient(var(--linear-gradient));
    border-radius: 99px;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: all 0.4s ease;
}
#nav-button:hover{
    transform: translateY(-3px);
    box-shadow: 0px 0px 18px rgba(251, 255, 0, 0.4);
}
nav{
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}
/* End Navigation Section */


/* Hero Banner Section */
#hero-section{
    background: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 760px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#hero-image{
    width: 350px;
    height: 350px;
    background: url(assets/hero-circle.png);
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#new{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #00FF88;
    border-radius: 99px;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 16px;
    color: rgba(26, 11, 46, 1);
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}
#hero-text-button{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#hero-text-button h1{
    font-size: 60px;
    font-weight: 800;
    margin-top: 40px;
}
#hero-text-button p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
}
#hero-buttons{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
}
#hero-button-1{
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 99px;
    border: none;
    background: linear-gradient(var(--linear-gradient));
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}
#hero-button-1:hover{
    transform: translateY(-3px);
    box-shadow: 0px 0px 18px rgba(251, 255, 0, 0.4);

}

#hero-button-2{
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    border: 1px solid rgba(0, 255, 136, 1);
    border-radius: 99px;
    background-color: transparent;
    color: rgba(0, 255, 136, 1);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s ease;
}
#hero-button-2:hover{
    transform: translateY(-3px);
    box-shadow: 0px 0px 18px rgba(0, 255, 0, 0.4);
}


/* About The Podcast Section */
#podcast-text{
    text-align: center;
    padding-top: 50px;
}
#podcast-text h1{
    font-size: 48px;
    font-weight: 700;
}
#podcast-text #p-1{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    margin: 16px 0 40px;
    line-height: 20px;
}
#podcast-text #p-2{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 79px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 80px;
}

/* podcast-counter */
#podcast-counter-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 120px;
}
.podcast-counter{
    text-align: center;
}
.podcast-counter h2{
    font-size: 48px;
    font-weight: 900;
    color: rgba(0, 255, 136, 1);
}
.podcast-counter p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
}


/* benefits */
#benefits-section{
    padding: 120px 0;
    background: rgba(35, 14, 61, 1);
}
#benefits-heading h1{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}
#benefits-details{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "benefits-grid-1 benefits-grid-2 benefits-grid-2"
    "benefits-grid-1 benefits-grid-3 benefits-grid-3"
    "benefits-grid-4 benefits-grid-4 benefits-grid-5"
    ;
}
.benefits-grid{
    background-color: #35116566;
    border-radius: 40px;
    padding: 40px;
}
.benefits-grid h3{
    font-size: 24px;
    font-weight: 700;
    margin: 16px 0;
}
.benefits-grid p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
}
.benefits-grid-1{
    grid-area: benefits-grid-1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.benefits-grid-2{
    grid-area: benefits-grid-2;
}
.benefits-grid-3{
    grid-area: benefits-grid-3;
}
.benefits-grid-4{
    grid-area: benefits-grid-4;
}
.benefits-grid-5{
    grid-area: benefits-grid-5;
}


/* Featured */
.fretured-video-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.feature-section{
    padding: 120px 0;
}
#featured-heading h1{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}
.fretured-video{
    background: rgba(37, 13, 68, 1);
    border-radius: 24px;
}
.fretured-video div{
    padding: 24px;
}
.fretured-video iframe{
    border-radius: 24px 24px 0px 0px;
}
.fretured-video h2{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
}
.fretured-video p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.fretured-video-duration{
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 255, 136, 1);
    margin-top: 12px;
}


/* Meet The Host/ Challenging Part */
.host-profile-section{
    padding-bottom: 120px;
}
#host-profile-heading h1{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

#host-profile-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
    gap: 24px;
}
#host-profile-info h2{
    font-size: 32px;
    font-weight: 700;
}
#host-profile-info p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 16px;
    line-height: 24px;
}
#host-profile-links{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
}
#host-profile-links a{
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 99px;
    padding: 10px;
    display: flex;
    align-items: center;
}
#host-profile-links a:hover{
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 0.2),rgba(251, 9, 180, 0.2),rgba(145, 0, 248, 0.2));
}


/* Footer Section */
footer{
    background: url(assets/footer-bg.png);
    height: 412px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#footer-section h1{
    font-size: 60px;
    text-align: center;
}
#sss span{
    background: linear-gradient(var(--linear-gradient));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
#footer-section-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 32px;
}
#footer-section-links a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}
#footer-section-links #footer-spotify:hover{
    color:#1ED760;
}
#footer-section-links #footer-apple-podcast:hover{
    color:#d56dfb;
}
#footer-section-links #footer-youtube:hover{
    color:#ee0e0e;
}
#footer-section-links #footer-facebook:hover{
    color:#1877F2;
}
#footer-section p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 32px;
    text-align: center;
}