*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background: rgba(35, 14, 61, 1);
    color: white;
}
:root{
    --linear-gradient: 47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)
}
.custom-width{
    max-width: 1600px;
    margin: 0 auto;
}

/* Navigation Section */
#nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
}
/* Navigation Logo */
#nav-logo{
    font-size: 35px;
    color: white;
    position: relative;
    z-index: 1;
}
#nav-logo a{
    text-decoration: none;
    color: white;
}
#nav-logo span{
    background: linear-gradient(var(--linear-gradient));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
#nav-logo::before{
    content: "TechWave";
    position: absolute;
    top: 0;
    left: 0;
    -webkit-text-stroke:1px black;
    z-index: -1;
    font-size: 35px;
}
/* Navigation Links */
#nav-link{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
}
#nav-link a{
    color: white;
    text-decoration: none;
}
/* Navigation Button */
#nav-button{
    width: 135px;
    height: 44px;
    border: none;
    background: linear-gradient(var(--linear-gradient));
    border-radius: 99px;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
nav{
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}
/* End Navigation Section */